<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand"
        style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Library
        App</a>
    <a class="navbar-link btn-lg" href="#" style="background-color:#FFCC33;color:#000000;">DataFlair</a>
    {% if request.user.groups == 'Admin'%}
    <a href="#" class='navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Admin</a>

    <a href="{% url 'upload_book' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Upload
        Books</a>
    {%endif %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    <a href="{% url 'logout' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Logout</a>
</nav>